<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="freento_sql_log" frontName="freento_sql_log">
            <module name="Freento_SqlLog" />
        </route>
    </router>
</config>
